[submodule "Billed-app-FR-Back"]
	path = Billed-app-FR-Back
	url = git@github.com:Peanuts-83/Billed-app-FR-Back.git
[submodule "Billed-app-FR-Front"]
	path = Billed-app-FR-Front
	url = git@github.com:Peanuts-83/Billed-app-FR-Front.git
